@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #1e40af;
  --offwhite: #e5e7eb;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
hr {
  margin-top: 2rem;
}
.centered-fluid-container {
  text-align: center;
}
.link {
  text-decoration: none;
  padding: 0.5rem;
}
.link-facebook {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}
.link-twitter {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.list-item {
  text-decoration: none;
}
.unordered-list {
  list-style: none;
}
.list-item-inline {
  display: inline;
}
.nav-list-item {
  display: inline;
  letter-spacing: 1px;
  word-spacing: 10px;
}
.navigation {
  color: white;
  display: block;
  background-color: var(--primary-color);
  border-bottom-left-radius: 2rem;
}
.navigation .nav-list-item-link {
  color: white;
}
.navigation .unordered-list {
  padding: 1rem 2rem;
  text-align: right;
}
.navigation .brand-name {
  padding: 1rem 1rem;
}

/**Header**/

.hero {
  padding: 0rem 2rem;
}
.hero .hero--img {
  display: flex;
  max-width: 400px;
  margin: auto;
}
.hero .hero--header {
  text-align: center;
}
.hero .hero--subheader {
  color: var(--primary-color);
}

/**section**/

.section {
  text-align: center;
}
.section__offwhite {
  background-color: var(--offwhite);
}
